<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="css/login.css" />
  </head>

  <body>
    <div class="maindiv">
      <div class="loginbox">
        <div class="avtar"> </div>
        <form class="form" action="/login" method="post">
          <div class="fitcontents">
            <input
              class="formfield"
              type="email"
              id="name"
              placeholder="Email Id"
              name="email"
              required
            />
            <div class="imageholder image1"></div>
          </div>
          <div class="fitcontents">
            <input
              class="formfield"
              type="password"
              id="password"
              placeholder="Password"
              name="password"
              required
            />
            <div class="imageholder image2"></div>
          </div>

          <div class="fitcontents">
            <input class="btn login" type="submit" value="login" />
          </div>
        </form>

        <div class="for_pass">
          <br />
          <a href="#" class="text">Forgot Password?</a>
        </div>
        <div class="text">Or</div>
        <div class="icon">
          <a href=""><div class="imageholder1 image3"></div></a>
          <a href=""><div class="imageholder1 image4"></div></a>
          <a href=""><div class="imageholder1 image5"></div></a>

        </div>

      </div>
    </div>
  </body>

</html>