<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css" />
    <title>Question Frame</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #272b3b">
        <a class="navbar-brand" href="#">CollegeQuery</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" style="color:white;">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">See Answers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Answer/Ask Question</a>
                </li>
            </ul>
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="../Login/login.html">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign up</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="main-div">
        <div class="flex-1 ">
            <div class="domain-name">
                <div class="styling">{{title}}</div>
            </div>
            <div class="div-2">
                <div class="ask-question">Ask Question</div>
                <div class=" click-answer-button" id="one">
                    <textarea>Type your question here......</textarea>
                    <div class=" btn-success submit-button">Submit</div>
                </div>
            </div>

            <div class="div-2">
                <div class="ask-question">Question 1</div>
                <div class=" click-answer-button" id="one">
                    <div class="question-answer">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis
                        labore fuga, ipsa officiis numquam natus. Consectetur quasi numquam expedita odio itaque
                        suscipit in inventore! Ullam harum qui fugiat ipsa error recusandae, ea, maiores, ad sequi eum
                        officiis neque blanditiis expedita? Quidem quas earum laudantium tempora laboriosam aut
                        recusandae veniam. Blanditiis.</div>
                    <div class=" btn-success answer">Answer</div>
                    <div class=" btn-success view-answer-button">View Answers</div>
                </div>
            </div>
            <div class="div-2">
                <div class="ask-question">Question 2</div>
                <div class=" click-answer-button" id="one">
                    <div class="question-answer">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis
                        labore fuga, ipsa officiis numquam natus. Consectetur quasi numquam expedita odio itaque
                        suscipit in inventore! Ullam harum qui fugiat ipsa error recusandae, ea, maiores, ad sequi eum
                        officiis neque blanditiis expedita? Quidem quas earum laudantium tempora laboriosam aut
                        recusandae veniam. Blanditiis.</div>
                    <div class=" btn-success answer">Answer</div>
                    <div class=" btn-success view-answer-button">View Answers</div>
                </div>
            </div>
            <div class="div-2">
                <div class="ask-question">Question 2</div>
                <div class=" click-answer-button" id="one">
                    <div class="question-answer">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis
                        labore fuga, ipsa officiis numquam natus. Consectetur quasi numquam expedita odio itaque
                        suscipit in inventore! Ullam harum qui fugiat ipsa error recusandae, ea, maiores, ad sequi eum
                        officiis neque blanditiis expedita? Quidem quas earum laudantium tempora laboriosam aut
                        recusandae veniam. Blanditiis.</div>
                    <div class=" btn-success answer">Answer</div>
                    <div class=" btn-success view-answer-button">View Answers</div>
                </div>
            </div>
            <div class="div-2">
                <div class="ask-question">Question 2</div>
                <div class=" click-answer-button" id="one">
                    <div class="question-answer">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis
                        labore fuga, ipsa officiis numquam natus. Consectetur quasi numquam expedita odio itaque
                        suscipit in inventore! Ullam harum qui fugiat ipsa error recusandae, ea, maiores, ad sequi eum
                        officiis neque blanditiis expedita? Quidem quas earum laudantium tempora laboriosam aut
                        recusandae veniam. Blanditiis.</div>
                    <div class=" btn-success answer">Answer</div>
                    <div class=" btn-success view-answer-button">View Answers</div>
                </div>
            </div>
    
        </div>
        <div class="flex-2">
            <div class="viewed">
                <div class="most-viewed">
                    <div class="styling">Most viewed questions</div>
                </div>
                <div class="tab"></div>
                <div class="tab"></div>
                <div class="tab"></div>
                <div class="tab"></div>
                <br>
                <br>
                <br>
            </div>
            <div class="viewed">
                <div class="most-viewed">
                    <div class="styling">Latest questions</div>
                </div>
                <div class="tab"></div>
                <div class="tab"></div>
                <div class="tab"></div>
                <div class="tab"></div>
                <br>
                <br>
                <br>
            </div>
            <br>
            <br>
            <br>


        </div>
        <!-- <footer class="text-center fixed-bottom footerr">
            <div class="container-fluid">
              <div class="footer-text pt-3 pb-3" style="color: #d1f7ff;">PISB <span>&copy</span></div>
            </div>
          </footer> -->

        
</body>


</html>